#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=sensible-browser file:///home/{{ user_name }}/Documents/biovm-help/index.html
Name=BioVM Help
Comment=Help on using BioVM
Icon=system-help
Name[en_IE]=biovm-help.desktop
